body {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color:  #F4F5F7;
    font-family: "Roboto", sans-serif;
}

header {
    /* Set Position and size */
    width: 100%;
    flex: 0.1;
    /* Design */
    background-color: white;
    border-bottom: 1px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    align-items: center;
}

.LogButton {
    /* Set Position and size */
    width: fit-content;
    height: fit-content;
    /* Constraints */
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    /* Design */
    border: none;
    background-color: #1A73E8;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
}

.LeftSide {
    /* Set Position and size */
    flex: 1;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: flex;
    overflow: auto;
}

.LeftSide::-webkit-scrollbar {
    display: none;
}

.RightSide {
    /* Set Position and size */
    flex: 1;
    /* Design */
    background-color: #F4F5F7;
}






















/* Advertisement List */

main {
    /* Set Position and size */
    width: 100%;
    flex: 1;
    /* Design */
    background-color: #FAF9F8;
    /* Set Content Display */
    display: flex;
    flex-direction: row;
}

.Scroll {
    /* Set Position and size */
    flex: 1;
    height: 0px;
    /* Design */
    background-color: #FAF9F8;
    /* Set Content Display */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.Advertisement {
    /* Set Position and size */
    aspect-ratio: 1/1;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
}

.AdvertisementTitle {
    /* Design */
    color: #0E0E0E;
}

.AdvertisementDescription {
    /* Design */
    color: #616161;
    flex: auto;
    margin: 0;
    padding: 0;
}