body {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background-color:  white;
    font-family: "Roboto", sans-serif;
}

header {
    /* Set Position and size */
    width: 100%;
    flex: 0.1;
    /* Design */
    background-color: white;
    border-bottom: 1px solid #E9E9E9;
}

.LeftSide {
    /* Set Position and size */
    flex: 1;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: #FAF9F8;
    /* Set Content Display */
    display: flex;
    overflow: auto;
}

.LeftSide::-webkit-scrollbar {
    display: none;
}

.RightSide {
    /* Set Position and size */
    flex: 1;
    /* Design */
    background-color: red;
}

/* Advertisement List */

main {
    /* Set Position and size */
    width: 100%;
    flex: 1;
    /* Design */
    background-color: #FAF9F8;
    /* Set Content Display */
    display: flex;
    flex-direction: row;
}

.Scroll {
    /* Set Position and size */
    flex: 1;
    height: 0px;
    /* Design */
    background-color: #FAF9F8;
    /* Set Content Display */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.Advertisement {
    /* Set Position and size */
    aspect-ratio: 1/1;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: red;
    border-radius: 20px;
    border: 0.5px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
}

.AdvertisementTitle {
    /* Design */
    color: red;
}

.AdvertisementDescription {
    /* Design */
    color: #616161;
    flex: auto;
    margin: 0;
    padding: 0;
}