body {
    /* Set Position and size */
    position: fixed;
    /* Constraints */
    margin: 0px;
    padding: 0px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* Design */
    background-color:  #F4F5F7;
    font-family: "Roboto", sans-serif;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
}

header {
    /* Set Position and size */
    flex: 0.1;
    /* Constraints */
    padding: 0 40px 0 40px;
    /* Design */
    background-color: white;
    border-bottom: 1px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    align-items: center;
}

header > button {
    /* Set Position and size */
    width: fit-content;
    height: fit-content;
    /* Constraints */
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    /* Design */
    border: none;
    background-color: #1A73E8;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

main {
    /* Set Position and size */
    flex: 1;
    /* Constraints */
    padding: 30px;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.LeftSide {
    /* Set Position and size */
    flex: 1;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: flex;
}

.LeftSide > .Container {
    /* Set Position and size */
    flex: 1;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: flex;
    overflow: scroll;
}

.LeftSide > .Container::-webkit-scrollbar {
    display: none;
}

.LeftSide > .Container > .Scroll {
    /* Set Position and size */
    flex: 1;
    height: 0px;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.LeftSide > .Container > .Scroll > div, .LeftSide > .Container > .Scroll > .Selected {
    /* Set Position and size */
    aspect-ratio: 1/1.3;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid #E9E9E9;
    cursor: pointer;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
}

.LeftSide > .Container > .Scroll > .Selected {
    border: 0.5px solid #1A73E8;
}

.LeftSide > .Container > .Scroll > div > .Name, .RightSide > .Panel > .Name {
    /* Design */
    color: black;
    font-size: 20px;
    font-weight: 500;
    user-select: none;
}

.LeftSide > .Container > .Scroll > div > .Company, .RightSide > .Panel > .Company {
    /* Design */
    color: black;
    font-size: 15px;
    font-weight: 400;
    user-select: none;
}

.LeftSide > .Container > .Scroll > div > .Parameters, .RightSide > .Panel > .Parameters {
    /* Design */
    background-color: white;
    /* Set Content Display */
    display: flex;
    overflow: scroll;
}

.LeftSide > .Container > .Scroll > div > .Parameters::-webkit-scrollbar, .RightSide > .Panel > .Parameters::-webkit-scrollbar {
    display: none;
}

.LeftSide > .Container > .Scroll > div > .Parameters > .Content, .RightSide > .Panel > .Parameters > .Content {
    /* Set Position and size */
    flex: 1;
    width: 0px;
    /* Constraints */
    padding: 10px 0 10px 0;
    /* Design */
    background-color: white;
    /* Set Content Display */
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.material-icons.md-13 {
    /* Design */
    height: 13px;
    font-size: 13px;
    user-select: none;
}

.LeftSide > .Container > .Scroll > div > .Parameters > .Content > .Parameter, .RightSide > .Panel > .Parameters > .Content > .Parameter {
    /* Constraints */
    padding: 5px 10px 5px 10px;
    /* Design */
    background-color: #F4F5F7;
    border-radius: 7px;
    /* Set Content Display */
    display: flex;
    gap: 5px;
}

.LeftSide > .Container > .Scroll > div > .Parameters > .Content > .Parameter > div, .RightSide > .Panel > .Parameters > .Content > .Parameter > div {
    /* Design */
    font-size: 13px;
    font-weight: 300;
    white-space: nowrap;
    user-select: none;
}

.LeftSide > .Container > .Scroll > div > .Description, .RightSide > .Panel > .Description {
    /* Set Position and size */
    flex: auto;
    /* Set Content Display */
    display: flex;
    overflow: hidden;
}

.LeftSide > .Container > .Scroll > div > .Description > .Content, .RightSide > .Panel > .Description > .Content {
    /* Set Position and size */
    flex: 1;
    height: 0px;
    /* Design */
    color: #4D4D4D;
    font-size: 13px;
    font-weight: 300;
    user-select: none;
    /* Set Content Display */
    display: flex;
}

.RightSide {
    /* Set Position and size */
    flex: 0.5;
    /* Design */
    background-color: #F4F5F7;
    /* Set Content Display */
    display: flex;
    flex-direction: row;
}

.RightSide > .Panel {
    /* Set Position and size */
    flex: 1;
    /* Constraints */
    padding: 20px;
    /* Design */
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.RightSide > .Panel > button {
    /* Set Position and size */
    width: fit-content;
    height: fit-content;
    /* Constraints */
    padding: 10px 20px 10px 20px;
    margin-left: auto;
    /* Design */
    border: none;
    background-color: #1A73E8;
    border-radius: 20px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    -webkit-appearance: button;
    appearance: button;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}