body {
    /* Set Position and size */
    position: fixed;
    /* Constraints */
    margin: 0px;
    padding: 0px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* Design */
    background-color:  #F4F5F7;
    font-family: "Roboto", sans-serif;
    /* Set Content Display */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Register {
    /* Set Position and size */
    min-width: 500px;
    /* Constraints */
    padding: 30px;
    /* Design */
    background-color: white;
    border-radius: 20px;
    border: 0.5px solid #E9E9E9;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Register > .Form {
    /* Set Position and size */
    flex: auto;
    /* Design */
    background-color: white;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Register > .Form > .FormElement {
    /* Design */
    background-color: white;
    /* Set Content Display */
    display: flex;
    flex-direction: column;
}

.Register > .Form > .FormElement > label {
    /* Constraints */
    padding: 5px;
    /* Design */
    color: black;
    font-weight: 300;
    font-size: 12px;
}

.Register > .Form > .FormElement > input {
    /* Constraints */
    padding: 10px;
    /* Design */
    border: none;
    background-color: #F8F9FA;
    border-radius: 20px;
    color: black;
    font-weight: 400;
    font-size: 10px;
}

.Register > .Form > .FormMessage {
    /* Constraints */
    padding-left: 5px;
    /* Design */
    color: red;
    background-color: white;
    font-weight: 300;
    font-size: 12px;
}

.Register > .Footer {
    /* Set Content Display */
    display: flex;
    flex-direction: row-reverse;
}

.Register > .Footer > button {
    /* Set Position and size */
    width: fit-content;
    /* Constraints */
    padding: 10px 20px 10px 20px;
    /* Design */
    border: none;
    background-color: #1A73E8;
    border-radius: 20px;
    color: white;
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}

.Register > .Footer > button:last-child {
    /* Design */
    background-color: white;
    color: #1A73E8;
}